*{
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: rgba(211, 211, 211, 0.829);
    margin: 0;
/* creazione della parte fuperiore */
}
#logo{
    width: 99%;
    height: 70px;
    background-color: #fff;
    padding-top: 1%;
    padding-left: 1%;
    display: inline-block;
}
#nomesito{
    vertical-align: 13px;
    font-size: 38px;
}
#spazio{
    height: 30px;
}

/* inizio creazione corpo pagina */
.spazio-tra-righe{
    background-color: #fff;
    height: 19px;
}

#contenitore1{
    margin: auto;
    width: 80%;
    height: 40px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 1%;
    border-radius: 3px;
    
}

#bottone_blu{
    background-color: skyblue;
    border: 0px;
    width: 60px;
    border-radius: 4px;
    height: 20px;      
}

#bottone_grigio{
    background-color: transparent;
    width: 60px;
    border-radius: 1px;
    height: 21px;  
    border-color: rgba(211, 211, 211, 0.829);

}

#testo_bianco{
    color: #fff;
}
#testo_grigio{
    color: lightgray;
}

.contenitore2{
    margin: auto;
    width: 80%;
    height: 455px;
    background-color: #fff;
    box-sizing: border-box;
    padding-left: 5%;
    padding-top: 6px;
    border-radius: 1px;
}
.spazio2{
    height: 2px;
}
/* inizio creazione tasti colorati*/
#blu_tasto{
    border-radius: 25%;
    background-color: blue;
    border: 0px;
}
#viola_tasto{
    border-radius: 25%;
    background-color: purple;
    border: 0px;
}
#verde_tasto{
    border-radius: 25%;
    background-color: green;
    border: 0px;
}
#arancio_tasto{
    border-radius: 25%;
    background-color: orange;
    border: 0px;
}
/* fine creazione tasti colorati*/




